In [ ]:
!pip install pandas
!pip install numpy

In [1]:
import pandas as pd

In [ ]:
produtosDF = pd.read_csv('/content/drive/MyDrive/SENAC Python/produtos_csv.csv', sep=';')
produtosDF

In [ ]:
produtosDF['titulo']

In [ ]:
produtosDF.info()

In [ ]:
# Listar uma serie de colunas
colunas = ['id_produto','titulo','estoque']
produtosDF[colunas]

In [11]:
# Listando uma serie de colunas mais elegantes
lista = ['id_produto','titulo','estoque']
prodDF = produtosDF

In [ ]:
# Listando as 5 primeiras linhas 
prodDF[:5]

In [ ]:
produtosDF['titulo'][1]

In [13]:
df_produtos = pd.read_csv('/content/drive/MyDrive/SENAC Python/produtos_csv.csv', sep=';', encoding='utf-8')
df_clientes = pd.read_csv('/content/drive/MyDrive/SENAC Python/cliente.csv', sep=';', encoding='utf-8')
df_vendas = pd.read_csv('/content/drive/MyDrive/SENAC Python/vendasTratada.csv', sep=',', encoding='utf-8')

In [ ]:
display(df_produtos.info())
display(df_clientes.info())
display(df_vendas.info())

In [ ]:
# Removendo colunas ou linas do DF por meio da função drop

df_produtos = df_produtos.drop(['cfop','codigo_ncm','icms_situacao_tributaria',
                                'icms_origem','pis_situacao_tributaria','cofins_situacao_tributaria',
                                'ipi_situacao_tributaria','ipi_codigo_enquadramento_legal'],
                               axis=1)
display(df_produtos.info())

In [ ]:
# Selecionando colunas, devemos criar uma lista com as colunas desejadas
colunas = ['id','nome','email','sexo']
df_cliente = df_clientes[colunas]
df_cliente

In [ ]:
display(df_cliente.info())
display(df_vendas.info())

In [ ]:
# Renomeando a coluna id para id_cliente do dataframe df_cliente
df_cliente = df_cliente.rename(columns={'id':'id_cliente'})
df_cliente

In [ ]:
# Melhorando a visualização da df vendas
colunas_vendas = ['id_cliente','quantidade','data','num_pedido','tipoFrete','valor_total']
df_vendas = df_vendas[colunas_vendas]
display(df_vendas.info())

In [ ]:
# Realizando o merge com df organizados
dataAnalize = df_cliente.merge(df_vendas, on='id_cliente')
dataAnalize

AULA 10

In [22]:
# Clientes que mais comprou
clientesEspecial = dataAnalize['nome'].value_counts()
display(clientesEspecial)

Isabel Gomes Pereira                  401
Luiz Claudio Marques Coutinho         203
Iolanda Maria Costa Silva             164
cleonice de fatima ferreira pessoa     85
Gabriel William de Andrade             84
                                     ...
Artur Pinheiro do Val                   1
Oswaldo R Zietlow                       1
CECILIA TAMASHIRO                       1
daniele yukari nakasaki vertuan         1
Ricardo Melo Rasquinho                  1
Name: nome, Length: 4980, dtype: int64